@import "../../style.scss";

.home{
  @include themify($themes) {
    padding: 50px 350px;
    background-color: #ebdfff;
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }